* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Ensure body and html take the full width and height */
html,
body {
 width: 100%;
 height: 100%;

}


.logo {
 max-width: 150px;
 height: auto;
}


.custom-button{
  background-color: #c21807;
 border: none;
 height: 50px;
}

.custom-button:hover {
 background-color: brown;
}
.custom-footer {
 width: 100%;
 background-color: rgb(189, 189, 189);
 position: relative;
 margin-top: 50px;
 font-size: 0.9rem;

}

footer{
  position: fixed;
   /* Ensures it's fixed at the bottom */
   bottom: 0;
   /* Stays at the bottom of the viewport */
   width: 120% !important;
   /* Takes full width */
   height: 120px;
   padding: 10px 30px;
   margin-top: auto;
   background-color: #f9f9f9;
   box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
   
   /* Centers the footer content */
   z-index: 10;
   /* Keeps it below the header */
   margin-top: auto !important;
   /* justify-content: space-between; */
   display: flex;
   clear: both;
   display: hide;
}

.RestoManagement {
  margin-top: 150px;
}
.restaurant-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.restaurant-logo-btn {
  border: 3px solid transparent;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
}

.restaurant-logo-btn.selected {
  border-color: #007bff;
}